---
import ListHeader from "./listHeader.astro";
import ServicesDropdown from "./ServicesDropdown.tsx";
---

<div class="min-[985px]:hidden">
    <ListHeader />
</div>
<div class="py-2 grid grid-cols-24 gap-4 max-[985px]:hidden">
    <div class="col-span-24 min-[1150px]:col-span-8">
        <div class="flex w-full h-full min-[1150px]:pl-[10vw] justify-center">
            <img src="/images/common/logo.png" class="z-3" />
        </div>
    </div>
    <div class="col-span-24 min-[1150px]:col-span-16 2xl:col-span-11">
        <nav
            class="flex gap-[40px] items-center content-left h-full max-[1150px]:justify-center"
        >
            <div>
                <a href="#" class="">HOME</a>
                <a href="#" class="">ABOUT</a>
                <ServicesDropdown client:idle />
                <a href="#" class="">PORTFOLIO</a>
                <a href="#" class="">PROJECTS</a>
                <a href="#" class="">BLOG</a>
                <a href="#" class="">CONTACT</a>
            </div>
        </nav>
    </div>
    <div class="pl-4 2xl:col-span-5 max-2xl:hidden">
        <div class="flex items-center justify-left h-full">
            <button class="talk-btn text-white">
                Let's Talk
                <i> </i>
            </button>
        </div>
    </div>
</div>

<style>
    nav a {
        color: #fff;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        padding: 0 10px;
    }
    .talk-btn {
        width: 156px;
        height: 59px;
        border-radius: 60px;
        background: linear-gradient(
            90deg,
            #8d71fe 3.2%,
            #725dff 15.55%,
            #5c4efe 29.55%,
            #4e57ff 39.85%,
            #4373ff 51.38%,
            #388eff 62.5%,
            #25c9ff 82.27%
        );
    }
</style>
