---
import AgencyIntro from "../components/Home/AgencyIntro.astro";
import ClientLogos from "../components/Home/ClientLogos.astro";
import CompanyStory from "../components/Home/CompanyStory.astro";
import CtaStrip from "../components/Home/CtaStrip.astro";
import Hero from "../components/Home/Hero.astro";
import PortfolioShowcase from "../components/Home/PortfolioShowcase.astro";
import RecentBlogPosts from "../components/Home/RecentBlogPosts.astro";
import SeoServices from "../components/Home/SeoServices.astro";
import ServicesGrid from "../components/Home/ServicesGrid.astro";
import Layout from "../layouts/Layout.astro";
---

<div class="home">
	<Layout>
		<Hero />
		<ClientLogos />
		<ServicesGrid />
		<AgencyIntro />
		<CompanyStory />
		<SeoServices />
		<PortfolioShowcase />
		<RecentBlogPosts />
		<CtaStrip />
	</Layout>
</div>

<style>
	.home {
		background-color: #070d1d !important;
	}
</style>
