---
import AnimationContainer from "./AnimationContainer.astro";
---

<div class="hero relative w-full z-1">
    <img
        class="absolute top-[-15px] left-0 img-sub"
        src="/images/home/hero/top_left.png"
        alt=""
    />
    <img
        class="absolute top-[-15px] right-0 img-sub"
        src="/images/home/hero/top_right.png"
        alt=""
    />
    <img
        class="absolute top-0 left-0 h-full w-full object-cover"
        src="/images/home/hero/background.png"
        alt=""
    />
    <div class="absolute bottom-0 right-0 overflow-hidden">
        <img
            class="img-sub img-4"
            src="/images/home/hero/bottom_right.png"
            alt=""
        />
    </div>
    <section class="hero-shell z-0">
        <aside class="social-rail hidden csm:flex" aria-label="Social links">
            <div class="social-rail__label">SOCIAL MEDIA</div>
            <div class="social-rail__line"></div>
            <div class="social-rail__icons">
                <a href="#" aria-label="Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" aria-label="Instagram"
                    ><i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" aria-label="X"
                    ><i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </aside>
        <div class="hero-main m-auto csm:grid">
            <div class="hero-copy">
                <p class="hero-kicker">WE CREATE</p>
                <h1>
                    MEMORABLE BRANDS
                    <br />
                    AND <span>WEBSITES</span>
                </h1>
                <p class="hero-description">
                    We are a creative agency specializing in branding and
                    websites design and development with over 8 years of
                    experience in the Cayman Islands.
                </p>
                <div class="w-full">
                    <a href="#" class="hero-button">
                        <span>Learn more</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                        >
                            <path
                                d="M10.7979 9.48683C10.6654 9.494 10.5354 9.44828 10.4366 9.3597C10.3378 9.27112 10.2781 9.14694 10.2708 9.01442L9.87177 1.73545L0.874268 11.775C0.785619 11.8739 0.661307 11.9335 0.528678 11.9408C0.39605 11.9481 0.26597 11.9023 0.167054 11.8137C0.0681379 11.725 0.00848936 11.6007 0.00123006 11.4681C-0.00602952 11.3355 0.0396948 11.2054 0.128344 11.1065L9.12585 1.06695L1.84681 1.46478C1.71707 1.4673 1.59142 1.41936 1.49632 1.33106C1.40123 1.24276 1.34412 1.121 1.33702 0.991426C1.32993 0.861852 1.37341 0.734584 1.4583 0.636434C1.54319 0.538283 1.66286 0.476914 1.7921 0.465255L10.2787 0.000730388C10.4112 -0.00644076 10.5412 0.0392841 10.64 0.127861C10.7388 0.216438 10.7985 0.340624 10.8058 0.47314L11.2703 8.95971C11.2775 9.09224 11.2318 9.22219 11.1432 9.32102C11.0546 9.41986 10.9304 9.47949 10.7979 9.48683Z"
                                fill="white"></path>
                        </svg>
                    </a>
                </div>
                <div class="w-fit relative w-full">
                    <div class="scroll-cue">
                        <div class="scroll-cue__label">SCROLL DOWN</div>
                        <a
                            href="#"
                            class="scroll-cue__button"
                            aria-label="Scroll down"
                        >
                            <span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="15"
                                    height="17"
                                    viewBox="0 0 15 17"
                                    fill="none"
                                >
                                    <path
                                        d="M0.209637 10.1745L7.0684 16.9978L13.9272 10.1745C14.0081 10.1129 14.0748 10.0346 14.1229 9.94497C14.1709 9.85531 14.1991 9.75637 14.2056 9.65487C14.2121 9.55336 14.1967 9.45164 14.1604 9.35661C14.1242 9.26157 14.0679 9.17543 13.9955 9.10403C13.923 9.03262 13.8361 8.97761 13.7406 8.94272C13.645 8.90783 13.5431 8.89387 13.4417 8.9018C13.3403 8.90972 13.2418 8.93935 13.1528 8.98866C13.0638 9.03797 12.9865 9.10582 12.926 9.18761L7.77842 14.2926L7.77842 0.710006C7.77842 0.521697 7.70362 0.341102 7.57046 0.207948C7.43731 0.0747942 7.25671 -1.20517e-05 7.06841 -1.20682e-05C6.8801 -1.20846e-05 6.6995 0.0747941 6.56635 0.207948C6.43319 0.341102 6.35839 0.521697 6.35839 0.710006L6.35839 14.2926L1.21076 9.18761C1.07706 9.05485 0.896102 8.98065 0.707689 8.98131C0.519276 8.98198 0.338844 9.05746 0.206087 9.19116C0.0733296 9.32486 -0.000878633 9.50582 -0.000212985 9.69423C0.000452664 9.88265 0.0759388 10.0631 0.209637 10.1958L0.209637 10.1745Z"
                                        fill="#040712"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <AnimationContainer />
        </div>
    </section>
</div>
<style>
    .hero-main {
        width: 80%;
        grid-template-columns: 63.3% 1fr;
        padding: 2% 0 0 2%;
    }
    .hero-copy {
        padding-right: 5.5%;
    }
    img {
        z-index: -1;
        pointer-events: none;
    }
    .img-sub {
        z-index: 0;
    }
    .img-4 {
        transform: translate(30px, 35px);
    }
    .hero-shell {
        position: relative;
        padding-top: 161px;
    }
    .social-rail {
        position: absolute;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        padding-top: 33px;
        width: 120px;
    }

    .social-rail__label,
    .scroll-cue__label {
        writing-mode: vertical-rl;
        color: #636385;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%; /* 20px */
        letter-spacing: 2.72px;
        text-transform: uppercase;
    }

    .social-rail__label {
        color: white;
    }

    .social-rail__line {
        margin-top: 0.51vw;
        width: 1px;
        height: 47px;
        background: white;
    }
    .social-rail__icons {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    .social-rail__icons a {
        width: 39px;
        height: 40px;
        border-radius: 999px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #0f1230;
        background: linear-gradient(
            90deg,
            #876cff 0%,
            #6755fe 26.66%,
            #544cff 50.45%,
            #3a8aff 78.65%,
            #27c1fd 95.59%,
            #27c1fd 95.59%
        );
        text-decoration: none;
        font-size: 27px;
        i {
            padding-top: 3px;
        }
    }
    .hero-kicker {
        width: 100%;
        font-family: Montserrat;
        font-size: 21px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        background: linear-gradient(
            90deg,
            #8d71fe 6.72%,
            #7661fe 23.61%,
            #4d53fe 45.03%,
            #3f7cfe 57.8%,
            #349dfb 71.81%,
            #28c2ff 85.82%
        );
        background-clip: text;
        color: transparent;
    }
    .hero-copy h1 {
        color: white;
        font-family: Montserrat;
        font-size: clamp(2.2rem, 1.2rem + 3.6vw, 3.375rem);
        font-style: normal;
        font-weight: 800;
        line-height: 1.15;
        text-transform: uppercase;
        padding-top: 6px;
    }
    .hero-copy h1 span {
        background: linear-gradient(
            90deg,
            #28c2ff 26.94%,
            #3e80fe 33.32%,
            #456afe 42.25%,
            #5453ff 46.81%,
            #876cff 61.94%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #4d65ff;
    }
    .hero-description {
        padding-top: 18px;
        margin: 1.35rem 0 0;
        font-family: "Jost", Helvetica, Arial, Lucida, sans-serif;
        font-weight: 500;
        font-size: clamp(1rem, 0.74rem + 1.2vw, 1.625rem);
        line-height: clamp(1.55rem, 1.2rem + 1.45vw, 2.5rem);
        color: white;
        max-width: 700px;
    }
    .hero-button {
        margin-top: 2.2rem;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        line-height: 1.7rem;
        text-transform: capitalize;
        text-decoration: none;
        transition: transform 0.3s ease;
        border-width: 0px !important;
        border-radius: 10px;
        letter-spacing: 1.5px;
        font-size: clamp(0.9rem, 0.82rem + 0.22vw, 1rem);
        background-image: linear-gradient(
            270deg,
            #25c7fe 6px,
            #3791fd 24px,
            #407aff 35px,
            #5449fe 57px,
            #7661fe 75px,
            #8d71fe 82px,
            #8d71fe 90px
        );
        padding-top: 10px !important;
        padding-right: 15px !important;
        padding-bottom: 10px !important;
        padding-left: 25px !important;
        text-transform: uppercase;
    }
    .hero-button svg {
        transition: transform 1s ease;
        transform: rotate(9deg);
        transform-origin: center;
        margin-left: 4px;
    }
    .hero-button:hover {
        transform: scale(1.1);
    }
    .hero-button:hover svg {
        transform: rotate(360deg);
    }
    .scroll-cue {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        position: absolute;
        top: 47px;
        left: -31px;
    }
    .scroll-cue__button {
        width: 70px;
        height: 70px;
        border-radius: 999px;
        border: 2px solid #0c0b38;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        animation: scroll-border-pulse 2s ease-in-out infinite;
    }
    .scroll-cue__button span {
        width: 43px;
        height: 43px;
        border-radius: 999px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
            90deg,
            #876cff 0%,
            #6755fe 27.89%,
            #544cff 52.78%,
            #3a8aff 82.28%,
            #27c1fd 100%
        );
        color: white;
        font-size: 11px;
    }
    .hero {
        min-height: 900px;
    }
    @keyframes scroll-border-pulse {
        0%,
        100% {
            border-color: #0c0b38;
        }
        50% {
            border-color: #ffffff;
        }
    }
    @media screen and (max-width: 985px) {
        .hero-main {
            padding: 0px;
        }
        .hero {
            min-height: auto;
            padding-bottom: 70px;
        }
        .img-sub {
            display: none;
        }
        .hero-shell {
            padding-top: 100px;
        }
        .hero-copy {
            padding-right: 0px;
        }
        .scroll-cue {
            gap: 10px;
            .scroll-cue__label {
                font-size: calc(6px + 1vw);
            }
            .scroll-cue__button {
                width: calc(40px + 1vw);
                height: calc(40px + 1vw);
                span {
                    width: calc(25px + 1vw);
                    height: calc(25px + 1vw);
                    svg {
                        width: calc(8px + 1vw);
                        height: calc(8px + 1vw);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .hero-kicker {
            line-height: 1.35;
            letter-spacing: 0.09em;
            word-break: break-word;
        }
        .hero-copy h1 {
            font-size: 30px;
            line-height: 1.2;
            padding-top: 0.4rem;
        }
        .hero-description {
            margin-top: 1rem;
            font-size: 18px;
            line-height: 1.6;
        }
        .hero-button {
            font-size: 0.875rem;
            letter-spacing: 0.08em;
            padding-top: 0.8rem !important;
            padding-right: 0.9rem !important;
            padding-bottom: 0.8rem !important;
            padding-left: 1.1rem !important;
        }
    }
</style>
